body {
  background-image: url(https://previews.123rf.com/images/romastudio/romastudio1603/romastudio160300203/54088672-healthy-food-background-studio-photo-of-different-fruits-and-vegetables-on-white-wooden-table-high-r.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 100px;
}
